@model SitoCercaLavoro.Models.Profili

@{
    ViewBag.Title = "Details";
}

<h4 class="text-center">     @Model.Nome @Model.Cognome</h4>

<div>
    <div class="d-flex align-items-center">
        <img class="w-25 rounded-pill" src="~/Content/FotoProfili/@Html.DisplayFor(model => model.Foto)" alt="Alternate Text" />
        <div class="ms-3">
            <p> @Model.Email</p>
            <p> @Model.Telefono</p>
            <p> @Model.Presentazione</p>
        </div>
    </div>
    <h4> @Model.Nome @Model.Cognome</h4>
    <h5> @Model.Utenti.Username</h5>
    <dl class="dl-horizontal">
    </dl>
</div>


<h4>Esperienze</h4>
@foreach (var e in Model.Esperienze)
{
    @Html.DisplayFor(modelItem => e.SedeLavoro)
}
<h4>Formazione</h4>
@foreach (var e in Model.Formazione)
{
    @Html.DisplayFor(modelItem => e.NomeStudio)
}
<h4>Competenze</h4>
@foreach (var e in Model.Competenze)
{
    @Html.DisplayFor(modelItem => e.NomeCompetenza)
}

<h4>Lingue</h4>
@foreach (var e in Model.Lingue)
{
    @Html.DisplayFor(modelItem => e.Lingua)
}