@model SitoCercaLavoro.Models.Profili

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profili</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presentazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentazione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProfilo }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h4>Esperienze</h4>
@foreach (var e in Model.Esperienze)
{
    @Html.DisplayFor(modelItem => e.SedeLavoro)
}
<h4>Formazione</h4>
@foreach (var e in Model.Formazione)
{
    @Html.DisplayFor(modelItem => e.NomeStudio)
}
<h4>Lingue</h4>
@foreach (var e in Model.Lingue)
{
    @Html.DisplayFor(modelItem => e.Lingua)
}
<h4>Competenze</h4>
@foreach (var e in Model.Competenze)
{
    @Html.DisplayFor(modelItem => e.NomeCompetenza)
}