@model IEnumerable<SitoCercaLavoro.Models.Competenze>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profili.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompetenza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profili.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompetenza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCompetenza }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCompetenza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCompetenza })
        </td>
    </tr>
}

</table>
