@model SitoCercaLavoro.Models.Lingue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lingue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profili.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profili.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lingua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conoscenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conoscenza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLingua }) |
    @Html.ActionLink("Back to List", "Index")
</p>
