@model IEnumerable<SitoCercaLavoro.Models.Formazione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profili.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scuola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitoloStudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeStudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profili.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scuola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitoloStudio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeStudio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInizio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votazione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFormazione }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFormazione }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFormazione })
        </td>
    </tr>
}

</table>
