@model IEnumerable<SitoCercaLavoro.Models.Annunci>

<link href="~/Content/StyleSheet1IndexHome.css" rel="stylesheet" />

<div class="input-group mb-3" style=" flex-wrap: nowrap; align-items: center; ">
    <input type="text" class="form-control w-100" placeholder="Cerca un lavoro" aria-label="Cerca un lavoro" aria-describedby="button-addon2" name="Lavoro" value="" id="Lavoro">
    <button class="btn btn-outline-success border border-white Button" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button id="Filtri" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-arrow-up-wide-short"></i></button>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Filtri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column mt-2">
        <h6>Inserisci un luogo</h6>
        <input type="text" name="Luogo" value="" id="Luogo" placeholder="Inserisci un luogo" class="mt-2 form-control" />
        <h6>Inserisci un tipo di contratto</h6>
        @Html.DropDownList("TipoContratto", null, htmlAttributes: new { @class = "form-control mt-2 border", id = "TipoContratto" })
        <h6>Inserisci una delle seguenti opzioni(Remoto,In sede,Ibrido)</h6>
        <input type="text" name="Remoto" value="" id="Remoto" placeholder="Inserisci sede" class="mt-2 form-control" />
        <a href="" id="RimuoviFiltri" class="mt-2">rimuovi filtri</a>
        <button id="Button1" class="mt-2 btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</div>
@*</div>*@
<div class="container">
    <div class="row" id="Annunci">
        @foreach (var item in Model)
        {

            <div class=" col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 m-2 rounded-3 border border-primary text-center">

                <h3 class="mt-3 mb-3">
                    @item.NomeAnnuncio
                </h3>
                <div class="d-flex justify-content-between">
                    <p id="PContratto">
                        @item.TipoContratto1.NomeContratto
                    </p>
                    <p id="InSede">
                        @item.SedeLavoro
                    </p>
                </div>
                <p>
                    <strong>Retribuzione:</strong>   @item.Retribuzione € euro al mese
                </p>
                <p>
                    @item.Luogo
                </p>
                <a class="btn btn-primary mb-3" href="/Annunci/Details/@item.IdAnnuncio">Dettagli</a>
                <a class="btn btn-primary mb-3" href="@Url.Action("Create","Candidature", new{id=@item.IdAnnuncio})">Candidati</a>
              
                @*<a href="/Candidature/Create/@item.IdAnnuncio">Candidati</a>*@
            </div>

        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            function filtri(data) {
                $("#List").html("")
                $("#Annunci").html("");

                $.each(data, function (i, e) {

                    var licurrent1 = "<div class='col col-md-6 col-lg-4 col-xl-4 col-xxl-3 d-flex mx-auto justify-content-center mt-3'><main id='main'  class='d-flex flex-column justify-content-center'>" +
                        "  <div class='card'>" +
                        // "   <span class='badge' style='text-shadow:2px 2px 6px black;  color:darkorange'>" + e.NomeEvento + "</span>" +
                        "<div class='text'>" +
                        "<h2  style='text-shadow:2px 2px 6px black; color:black'>" + e.NomeAnnuncio + "</h2>" +
                        " <p class='card-text'><strong>Retribuzione:</strong>" + e.Retribuzione + "</p>" +
                        "<p class='card-text'><strong>Descrizione:</strong>" + e.Descrizione + "</p>" +
                        "<p class='card-text'><strong>Categoria:</strong>" + e.Categoria + "</p>" +
                        "<p class='card-text'><strong>Sede Lavoro:</strong>" + e.SedeLavoro + "</p>" +
                        "<p class='card-text'><strong>Luogo:</strong>" + e.Luogo + "</p>" +
                        "</div>" +
                        "</div>" +
                        "</main ></div>";

                    $("#Annunci").append(licurrent1)
                })
            }
            function ChiamataAjax(lavoro, luogo, contratto, remoto) {
                $.ajax({
                    method: "POST",
                    url: "/Home/Filtri",
                    data: { Lavoro: lavoro, Luogo: luogo, SedeLavoro: remoto, TipoContratto: contratto },
                    success: function (data) {
                        console.log(data)
                        filtri(data);
                    }
                })
            }
            function OnClick() {
                console.log($("#Luogo").val(), $("#Lavoro").val(), $("#TipoContratto").val(), $("#Remoto").val())
                var luogo = $("#Luogo").val();
                var lavoro = $("#Lavoro").val();
                var Contratto = $("#TipoContratto").val();
                var remoto = $("#Remoto").val();
                //contratto==null
                if (Contratto == null && luogo != null && remoto != null) {
                    ChiamataAjax(lavoro, luogo, null, remoto)
                    //luogo==null
                } else if (Contratto != null && luogo == null && remoto != null) {
                    ChiamataAjax(lavoro, null, Contratto, remoto)
                }//remto==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, luogo, Contratto, null)
                }//Contratto e luogo==null
                else if (Contratto != null && luogo == null && remoto != null) {
                    ChiamataAjax(lavoro, null, null, remoto)
                }//Contratto e remoto==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, luogo, null, null)
                }//remoto e luogo==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, null, Contratto, null)
                }//solo Lavoro
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, null, null, null)
                }
                else {
                    ChiamataAjax(lavoro, luogo, Contratto, remoto)
                }
            }

            $("#Filtri").hide()

            $("#Lavoro").on('input', function () {
                var lunghezzaImput = $(this).val().length
                if (lunghezzaImput >= 3) {
                    $("#Filtri").show()
                } else {
                    $("#Filtri").hide()
                }
            })

            //Sezione Filtri
            //Al click di un bottone dei filtri genero una chiamata ajax per ottenere la categoria e fare una select al db

            $(".Button").click(function () {
                OnClick();

            })
            $("#Button1").click(function () {
                OnClick();
            })
            //Rimuovo i filtri
            $("#RimuoviFiltri").click(function () {
                ChiamataAjax(null, null, null, null)
            })
        })
    </script>
}



