@model IEnumerable<SitoCercaLavoro.Models.Annunci>

<div>
    <input type="text" name="Lavoro" value="" id="Lavoro" placeholder="Inserisci una professione" />
    <button id="Button"><i class="fa-solid fa-magnifying-glass"></i></button> 
    <button id="Filtri" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-arrow-up-wide-short"></i></button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" >
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Filtri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ">

        <input type="text" name="Luogo" value="" id="Luogo" placeholder="Inserisci un luogo" />
        <input type="text" name="Contratto" value="" id="Contratto" placeholder="Inserisci tipo di contratto" />
        @Html.DropDownList("TipoContratto", null, htmlAttributes: new { @class = "form-control", id = "TipoContratto" })
        <input type="text" name="Remoto" value="" id="Remoto" placeholder="Inserisci sede" />
        <button id="Button1"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</div>

@foreach (var item in Model)
{
    <div  class="container">
        <div class="row" id="Annunci">
            <div class="col">

                <h3>
                    @item.NomeAnnuncio
                </h3>
                <p>
                    @item.TipoContratto1.NomeContratto
                </p>
                <p>
                    @item.Retribuzione
                </p>
                <p>
                    @item.Descrizione
                </p>
                <p>
                    @item.Categoria
                </p>
                <p>
                    @item.SedeLavoro
                </p>
                <p>
                    @item.Luogo
                </p>
                <a href="@Url.Action("Create","Candidature", new{id=@item.IdAnnuncio})">content</a>
                <a href="/Candidature/Create/@item.IdAnnuncio">Candidati</a>
            </div>
        </div>
    </div>
}

<a href="" id="RimuoviFiltri">rimuovi filtri</a>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            function filtri(data) {
                $("#List").html("")
                $("#Annunci").html("");

                $.each(data, function (i, e) {

                    var licurrent1 = "<div class='col col-md-6 col-lg-4 col-xl-4 col-xxl-3 d-flex mx-auto justify-content-center mt-3'><main id='main'  class='d-flex flex-column justify-content-center'>" +
                        "  <div class='card'>" +
                        // "   <span class='badge' style='text-shadow:2px 2px 6px black;  color:darkorange'>" + e.NomeEvento + "</span>" +
                        "<div class='text'>" +
                        "<h2  style='text-shadow:2px 2px 6px black; color:black'>" + e.NomeAnnuncio + "</h2>" +
                        " <p class='card-text'><strong>Retribuzione:</strong>" + e.Retribuzione + "</p>" +
                        "<p class='card-text'><strong>Descrizione:</strong>" + e.Descrizione + "</p>" +
                        "<p class='card-text'><strong>Categoria:</strong>" + e.Categoria + "</p>" +
                        "<p class='card-text'><strong>Sede Lavoro:</strong>" + e.SedeLavoro + "</p>" +
                        "<p class='card-text'><strong>Luogo:</strong>" + e.Luogo + "</p>" +
                        "</div>" +
                        "</div>" +
                        "</main ></div>";

                    $("#Annunci").append(licurrent1)
                })
            }
            function ChiamataAjax(lavoro, luogo, contratto, remoto) {
                $.ajax({
                    method: "POST",
                    url: "/Home/Filtri",
                    data: { Lavoro: lavoro, Luogo: luogo, SedeLavoro: remoto, TipoContratto: contratto },
                    success: function (data) {
                        console.log(data)
                        filtri(data);
                    }
                })
            }
            function OnClick() {
                console.log($("#Luogo").val(), $("#Lavoro").val(), $("#Contratto").val(), $("#Remoto").val())
                var luogo = $("#Luogo").val();
                var lavoro = $("#Lavoro").val();
                var contratto = $("#TipoContratto").val();
                var remoto = $("#Remoto").val();
                //contratto==null
                if (Contratto == null && luogo != null && remoto != null) {
                    ChiamataAjax(lavoro, luogo, null, remoto)
                    //luogo==null
                } else if (Contratto != null && luogo == null && remoto != null) {
                    ChiamataAjax(lavoro, null, contratto, remoto)
                }//remto==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, luogo, contratto, null)
                }//contratto e luogo==null
                else if (Contratto != null && luogo == null && remoto != null) {
                    ChiamataAjax(lavoro, null, null, remoto)
                }//contratto e remoto==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, luogo, null, null)
                }//remoto e luogo==null
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, null, contratto, null)
                }//solo Lavoro
                else if (Contratto == null && luogo != null && remoto == null) {
                    ChiamataAjax(lavoro, null, null, null)
                }
                else {
                    ChiamataAjax(lavoro, luogo, contratto, remoto)
                }
            }

            $("#Filtri").hide()
            
            $("#Lavoro").on('input', function (){
                var lunghezzaImput=$(this).val().length
                if (lunghezzaImput != 3) {

                    $("#Filtri").show()
                } else {
                    $("#Filtri").hide()
                }
            })
            
            //Sezione Filtri
            //Al click di un bottone dei filtri genero una chiamata ajax per ottenere la categoria e fare una select al db

            $("#Button").click(function () {
                OnClick();

            })
            $("#Button1").click(function () {
                OnClick();
            })
            //Rimuovo i filtri
            $("#RimuoviFiltri").click(function () {
                ChiamataAjax(null, null, null, null)
            })
        })
    </script>
}



