@model IEnumerable<SitoCercaLavoro.Models.Annunci>


@foreach (var item in Model)
{
    <div>
        <p>
            @item.TipoContratto1.NomeContratto
        </p>
        <p>
            @item.NomeAnnuncio
        </p>
        <p>
            @item.Retribuzione
        </p>
        <p>
            @item.Descrizione
        </p>
        <p>
            @item.Categoria
        </p>
        <p>
            @item.SedeLavoro
        </p>
        <p>
            @item.Luogo
        </p>
        <a href="/Candidature/Create?id=@item.IdAnnuncio">Candidati</a>
    </div>
}




